.box-mother {
  font-family: "Inter", sans-serif;
}

.box-header {
  background-image: url("../img/0.png");
  background-position: left center;
  width: 500px;
  height: 300px;
  background-size: 430px 800px;
  background-repeat: no-repeat;
  object-fit: contain;
  position: relative;
  bottom: 16px;
}

.bor {
  position: relative;
  top: 50px;
  left: 35px;
  background-color: #000;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  border-radius: 30px;
  color: #fff;
  font-size: 10px;
}

.title {
  position: relative;
  top: 50px;
  left: 35px;
  font-size: 12px;
  line-height: 35px;
}

.title-txt {
  font-size: 10px;
  position: relative;
  left: 35px;
  top: 50px;
  width: 400px;
}

.green-ball {
  font-size: 15px;
  position: absolute;
  top: 80px;
  left: 280px;
  width: 100px;
  height: 100px;
  background: #00bf63;
  border-radius: 100px;
  text-align: center;
  line-height: ;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.green-ball p {
  position: absolute;
  left: 25px;
  top: 10px;
}

.green-ball span {
  font-size: 25px;
}

.box-chairs-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.box-chairs img {
  height: 100px;
  width: 80px;
}
