.box-header {
    background-image: url("../img/0.png");
    background-position: center center;
    width: 1000px;
    height: 500px;
    background-size: 1000px 1300px;
    border: solid blue 3px;
    object-fit: contain;
}