.box-mother {
  font-family: "Inter", sans-serif;
}

.box-header {
  background-image: url("../img/0.png");
  background-position: left center;
  width: 2000px;
  height: 700px;
  background-size: 1600px 1900px;
  background-repeat: no-repeat;
  border: solid #fff 1px;
  object-fit: contain;
}

.bor {
  position: relative;
  left: 120px;
  background-color: #000;
  width: 300px;
  height: 70px;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  border-radius: 30px;
  margin-top: 80px;
  color: #fff;
  font-weight: 300;
}

.title {
  position: relative;
  left: 120px;
  font-size: 45px;
  bottom: 60px;
}

.title-txt {
  font-size: 37px;
  position: relative;
  left: 120px;
  bottom: 90px;
}

.green-ball {
  font-size: 50px;
  position: absolute;
  left: 1050px;
  width: 300px;
  height: 300px;
  background: #00bf63;
  border-radius: 200px;
  text-align: center;
  line-height: 65px;
  font-weight: 700;
  color: #fff;
}

.green-ball p {
  position: absolute;
  left: 80px;
  top: 30px;
}

.green-ball span {
  font-size: 70px;
}

.box-chairs img {
  height: 100px;
  width: 80px;
}
