body {
    font-family: 'Arimo', sans-serif;
}

.ball {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #7ED957;
    position: relative;
    left: 15px;
    top: 19px;
}

.box-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-main {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 432px;
    /*border: solid red 2px;*/
    background-image: url("../img/2.png");
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 170px;
}

.main {
    background-color: #00BF63;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #fff;
}

.main-1 {
    position: relative;
    left: 5px;
    text-align: right;
    margin-right: 280px;
    border-left: solid 20px #00BF63;
    border-right: solid 10px #00BF63;
    border-top: solid 3px #00BF63;
    border-bottom: solid 3px #00BF63;
    margin-bottom: 2px;
}


.main-2 {
    margin-right: 220px;
}

.main-3 {
    margin-right: 295px;
    margin-bottom: 30px;
}

.main-4 {
    margin-right: 135px;
}

.main-5 {
    margin-right: 285px;
}

span {
    color: #00BF63;
}

img {
    width: 30px;
    height: 30px;
}

.ico {
    width: 30px;
    height: 30px;
}