* {
    box-sizing: content-box;
}

div {
    background: #AB2849;
    height: 50px;
    width: 100vw;
    margin: 10px 10px 10px 0px;
}

.d1 {
    background: #93B5C9;
    height: 100px;
    margin: 0px;
}

.d2 {
    height: 200px;
    margin: 0 0 15px 0;
}

.d3,.d4,.d5,.d6 {
    width: 70vw;
    float: right;
    margin: 10px 0 10px 0;
}

.d7 {
    float: inline-end;
    width: 90vw;
    margin: 10px auto;
    transform: translateX(-5%);